@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	background-position: center top;
    background-size: cover;
}

h1 {
    margin-top: 2.5em;
    font-family: Creepster, cursive;
    font-size: 3.125em;
}

h3 {
	margin-top: 3.2em;
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
}

.container{
    margin-top: 1.25em;
    background-color: #f2f0d6;
    margin-bottom: 1.25em;
}

.gamechoice {
    margin-top: 10em;
    margin-bottom: 30em;
}
